body, html {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 20px 400px 400px 400px auto;
    grid-template-rows: 20px 400px 400px;
}

.points {
    display: grid;
    grid-template-columns: 10px 100px auto;
    grid-template-rows: 10px 75px auto;
    margin: 0;
    padding: 5px;
    background: whitesmoke;
    grid-column: 2/3;
    grid-row: 2/4;
}

.type {
    display: grid;
    grid-column: 2/3;
    grid-row: 3/4;
    border: solid black 1px;
    align-items: center;
    background-color: rgba(13, 13, 13);
}
.type p {
    border: solid rgba(13, 13, 13) 2px;
    margin: 0;
    width: 100%;
    height: 90%;
    background-color: azure;
    justify-self: center;
}
.players {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(5, auto);
    grid-column: 3/4;
    grid-row: 2/3;
    border: solid black 1px;
}

#tab {
    width: 100%;
    height: 100%;
    grid-column: 3/4;
    grid-row: 3/4;
}


.players p {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;

}
.what-action {
    display: grid;
    grid-column: 3/4;
    grid-row: 3/4;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(5, minmax(auto,20%));
    grid-template-rows: repeat(5, auto);
    margin: 0;
    padding: 5px;
    background: grey;
    grid-column: 3/4;
    grid-row: 2/3;
}
.num-players {
    display: flex;
    grid-row: 4/5;
    grid-column: 2/3;
}

.num-players input {
    width: 40px;
    height: 30px;
}

.dices {
    margin: 0;
    padding: 5px;
    background: grey;
    grid-column: 3/4;
    grid-row: 3/4;
}

canvas {
    width: 100%;
    height: 100%;
}

#throw-dices {
    grid-row: 2/3;
    grid-column: 1/3;
}
#reset {
    grid-row: 2/3;
    grid-column: 3/5;
}

.btn-nr {
    background-color: beige;
}